/* Styling for the outer container */
.captcha {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* Styling for the preview text */
.preview {
  font-size: 24px;
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #333; /* Add a gray border */
  background-color: #f5f5f5; /* Background color for the preview element */
  color: #333; /* Dark gray text color */
}

/* Styling for the refresh button */
.captcha-refresh {
  background-color: #333; /* Dark gray background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.captcha-refresh:hover {
  background-color: #555; /* Slightly darker gray on hover */
}

/* Styling for the refresh button icon */
.icon {
  font-size: 20px;
}
